<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <script defer src="static/script.js"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
    {% block header %}{% endblock %}
    {% block main %}{% endblock %}

    <footer>
        <div class="footer-container">
            <p><a href="#">Back to top</a></p>
            <p id="footerDate" class="center-text"></p>
        </div>
    </footer>
</body>
</html>